# API keys should not be publicly committed
api_*

# these directories contain large amounts of non-committable image data
images
data

# experimental data should be shared on slack
experiments

# generally a good idea
*.pkl
*.pyc

# stupid emacs auto-saves
*~
